@import '../variables';

.HomePage {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0 0 80px 0;

  .header {
    align-items: center;
    background: url('../static/jpg/laptop3.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
  }

  .header-text {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 300;
    padding: 0 0 280px 0;
    text-align: center;
    width: 65%;
  }

  .about-me {
    align-items: center;
    background: #14181E;
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .contact {
    align-items: center;
    background: #14181E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  .contact-text-tiny {
    color: white;
    font-family: 'Soleil', sans-serif;
    font-size: 10px;
    font-weight: 400;
    justify-self: flex-end;
    margin: auto;
    padding: 20px;
    text-align: center;
  }

  .contact-text-small {
    color: white;
    font-family: 'Soleil', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    text-align: center;
  }

  .contact-text-large {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
  }

  .projects {
    align-items: center;
    background: url('../static/jpg/pbg.png');
    background-size: 100vw 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    height: calc(100vh + 80px);
  }

  .aboutme-text {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 300;
    text-align: left;
    width: 65%;
  }

  .project-text {
    color: #14181E;
    font-family: 'Soleil', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    transform: scaleY(1.06);
  }

  .project-subtext {
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Soleil', sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
  }

  .project-text-small {
    color: black;
    font-family: 'Soleil', sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-align: left;
  }

  .avatar {
    height: 200px;
    width: 200px;
    position: absolute;
  }
  
  .crypto-avatar {
    height: 70px;
    width: 70px;
    background-color: #14181E;
  }

  .cal-avatar {
    height: 70px;
    width: 70px;
  }

  .lt-avatar {
    height: 70px;
    width: 70px;
  }
    
  .card-image-lifetab {
    height: 230px;
  }

  .card-image-crypto {
    height: 230px;
    background-color: #14181E;
  }
  
  .card-image-calendar {
    height: 230px;
    background-color: #14181E;
  }
  
  .card {
    height: 467px;
    width: 310px;
  }

  .card-font {
    font-family: 'Soleil', sans-serif;
  }

  .frameworks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .subheading {
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Soleil', sans-serif;
  }
}

// -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
//    -moz-animation: fadein 2s; /* Firefox < 16 */
//     -ms-animation: fadein 2s; /* Internet Explorer */
//      -o-animation: fadein 2s; /* Opera < 12.1 */
//         animation: fadein 2s;

//   @keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }

// /* Firefox < 16 */
// @-moz-keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }

// /* Safari, Chrome and Opera > 12.1 */
// @-webkit-keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }

// /* Internet Explorer */
// @-ms-keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }

// /* Opera < 12.1 */
// @-o-keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }
