.HomePage {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0 0 80px 0; }

.HomePage .header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center; }

@media only screen and (max-width: 499px) {
  .HomePage .header {
    background: blueviolet; } }

@media only screen and (min-width: 500px) {
  .HomePage .header {
    background: url("../static/jpg/laptop4.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh; } }

.HomePage .header-text {
  color: black;
  font-family: 'Soleil', sans-serif;
  font-weight: 500;
  padding: 0 0 280px 0;
  text-align: center; }

@media only screen and (max-width: 499px) {
  .HomePage .header-text {
    font-size: 16px;
    width: 75%; } }

@media only screen and (min-width: 500px) {
  .HomePage .header-text {
    font-size: 36px;
    width: 65%; } }

.HomePage .about-me {
  align-items: center;
  background: #14181E;
  display: flex;
  justify-content: center;
  height: 100vh; }

.HomePage .aboutme-text {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: left; }

@media only screen and (max-width: 499px) {
  .HomePage .aboutme-text {
    font-size: 25px;
    width: 75%; } }

@media only screen and (min-width: 500px) {
  .HomePage .aboutme-text {
    font-size: 38px;
    width: 70%; } }

.HomePage .contact {
  align-items: center;
  background: #14181E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; }

.HomePage .contact-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%; }

.HomePage .contact-text-tiny {
  color: white;
  font-family: 'Soleil', sans-serif;
  font-size: 8px;
  font-weight: 400;
  justify-self: flex-end;
  margin: auto;
  padding: 15px;
  text-align: center; }

.HomePage .contact-text-small {
  color: white;
  font-family: 'Soleil', sans-serif;
  font-weight: 400;
  padding: 15px;
  text-align: center; }

@media only screen and (max-width: 499px) {
  .HomePage .contact-text-small {
    font-size: 12px; } }

@media only screen and (min-width: 500px) {
  .HomePage .contact-text-small {
    font-size: 14px; } }

.HomePage .contact-text-large {
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: 5px;
  text-align: center; }

@media only screen and (max-width: 499px) {
  .HomePage .contact-text-large {
    font-size: 17px;
    font-weight: 500; } }

@media only screen and (min-width: 500px) {
  .HomePage .contact-text-large {
    font-size: 35px;
    font-weight: 400; } }

.HomePage .projects {
  align-items: center;
  background: url("../static/jpg/pbg.jpg");
  background-size: 100vw 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around; }

@media only screen and (max-width: 499px) {
  .HomePage .projects {
    flex-direction: column;
    flex-wrap: wrap;
    height: calc((5 * 64px) + (3 * 395px)); } }

@media only screen and (min-width: 500px) {
  .HomePage .projects {
    height: calc(100vh + 64px); } }

.HomePage .project-text {
  color: #14181E;
  font-family: 'Soleil', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  transform: scaleY(1.06); }

.HomePage .project-subtext {
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Soleil', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: left; }

.HomePage .project-text-small {
  color: black;
  font-family: 'Soleil', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: left; }

.HomePage .avatar {
  height: 170px;
  width: 170px;
  position: absolute; }

.HomePage .crypto-avatar {
  height: 65px;
  width: 65px;
  background-color: #14181E; }

.HomePage .cal-avatar {
  height: 65px;
  width: 65px; }

.HomePage .lt-avatar {
  height: 65px;
  width: 65px; }

.HomePage .card-image-lifetab {
  background-color: #14181E;
  height: 170px; }

.HomePage .card-image-crypto {
  background-color: #14181E;
  height: 170px; }

.HomePage .card-image-calendar {
  background-color: #14181E;
  height: 170px; }

.HomePage .card {
  height: 395px;
  width: 285px; }

@media only screen and (max-width: 499px) {
  .HomePage .card {
    margin: 64px 0 0 0; } }

.HomePage .card-font {
  font-family: 'Soleil', sans-serif; }

.HomePage .frameworks {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.HomePage .subheading {
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Soleil', sans-serif;
  font-size: 0.8rem; }

.HomePage .svg-div {
  align-self: center;
  padding: 10px; }

.HomePage .svg {
  color: white;
  font-size: 25px; }
