@import '../variables';

.HomePage {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .avatar {
    height: 200px;
    width: 200px;
  }
}
