.NavBar {
  background: #14181E;
  display: flex;
  height: 80px;
  justify-content: space-between; }

.NavBar .navlink {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: auto;
  text-decoration: none;
  text-transform: none; }
