.NavBar {
  background: #14181E;
  display: flex;
  justify-content: space-between; }

@media only screen and (max-width: 499px) {
  .NavBar {
    width: calc(100vw - 32px); } }

.NavBar .button {
  background-color: inherit;
  text-decoration: none;
  text-transform: none;
  margin: 0;
  padding: 0;
  min-width: 0px; }

.NavBar .button:hover {
  background-color: inherit;
  text-decoration: none;
  text-transform: none;
  margin: 0;
  padding: 0;
  min-width: 0px;
  min-height: 0px; }

.NavBar .logo {
  height: 35px;
  width: 35px;
  margin-right: 25px; }

.NavBar .navigation {
  display: flex;
  justify-self: flex-start; }

@media only screen and (max-width: 499px) {
  .NavBar .navigation {
    flex-direction: row;
    justify-content: space-between;
    width: 100%; } }

.NavBar .nav-text {
  align-content: center;
  color: white;
  font-family: 'Soleil', sans-serif;
  font-weight: 400;
  margin: auto; }

@media only screen and (max-width: 499px) {
  .NavBar .nav-text {
    font-size: 12px; } }

@media only screen and (min-width: 500px) and (max-width: 999px) {
  .NavBar .nav-text {
    font-size: 14px;
    padding: 0 25px 0 0; } }

@media only screen and (min-width: 999px) {
  .NavBar .nav-text {
    font-size: 14px;
    padding: 0 25px 0 0; } }

.NavBar .svg {
  color: white;
  font-size: 25px; }

.NavBar .svg-button {
  padding: 0 0 0 15px; }
