.NavBar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #00c4cc, #0574bc); }

.NavBar .navlink {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: auto;
  text-decoration: none;
  text-transform: none; }

.NavBar .right-panel {
  display: flex;
  justify-content: space-between;
  width: 195px; }
