.NavBar {
  background: #14181E;
  display: flex;
  height: 80px;
  justify-content: space-between;

  .navlink {
    color: white;
<<<<<<< HEAD
    font-family: 'Soleil', sans-serif;
=======
    font-family: 'Raleway', sans-serif;
>>>>>>> cb1aea6664fca7e9eaf4b739eb02c51b4a47e5b1
    font-weight: 400;
    margin: auto;
    text-decoration: none;
    text-transform: none;
  }
}
