.NavBar {
  background: #14181E;
  display: flex;
  height: 80px;
  justify-content: space-between;

  .navlink {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: auto;
    text-decoration: none;
    text-transform: none;
  }
}
