@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

@font-face {
  font-family: 'Soleil';
  font-weight: normal;
  src: url('../static/fonts/Soleil/Soleil-Regular.otf') format("opentype")  
}

@font-face {
  font-family: 'Soleil';
  font-weight: bold;
  src: url('../static/fonts/Soleil/Soleil-Bold.otf') format("opentype")  
}

@font-face {
  font-family: 'Soleil';
  font-weight: lighter;
  src: url('../static/fonts/Soleil/Soleil-Light.otf') format("opentype")  
}

.App {
  min-height: 100vh;
  font-family: 'Soleil', sans-serif;
}
