$small: "only screen and (max-width: 499px)";
$medium: "only screen and (min-width: 500px) and (max-width: 999px)";
$large: "only screen and (min-width: 999px)";
$wrap: "only screen and (max-width: 1700px)";
